@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1c1c1c;
  --secondary: #50563f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-prata: var(--font-prata);
  --font-source: var(--font-source-serif-4);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #50563f;
    --secondary: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
